@charset "UTF-8";
/* 把我们所有标签的内外边距清零 */
* {
  margin: 0;
  padding: 0;
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
  font-style: normal;
}

/* 去掉li 的小圆点 */
li {
  list-style: none;
}

img {
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle;
}

button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer;
}

/* 改变a链接的默认样式,颜色和下划线 */
a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "宋体", sans-serif;
  outline: none;
}

body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 14px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "宋体", sans-serif;
}

/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}

.clearfix {
  *zoom: 1;
}

/* Box sizing rules */
/* Remove default margin */
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
.plate-print-content {
  display: flex;
  width: 415px;
  margin: 0 auto;
}
.plate-print-content .img-box {
  width: 130px;
  height: 130px;
  margin-right: 20px;
  margin-top: 5px;
  flex: none;
  background-color: #e5e5e5;
}
.plate-print-content .img-box img {
  width: 100%;
  height: 100%;
}
.plate-print-content .right {
  width: 240px;
  color: #444;
  padding-top: 2px;
  font-size: 18px;
}
.plate-print-content .right h2 {
  font-size: 18px;
  padding-bottom: 6px;
}
.plate-print-content .right .remark {
  min-height: 50px;
  line-height: 24px;
}
.plate-print-content .right h4 {
  margin-top: 4px;
}
.plate-print-content .right .time {
  font-size: 14px;
}
@media print {
  .plate-print-content {
    width: 100%;
  }
}

.outside-print-area {
  margin: 0 auto;
  color: #444;
}
.outside-print-area > main {
  display: flex;
}
.outside-print-area > main .left {
  margin-right: 30px;
}
.outside-print-area > main .left .img-box {
  background-color: #e5e5e5;
  width: 100px;
  height: 100px;
}
.outside-print-area > main .left .img-box img {
  width: 100%;
  height: 100%;
}
.outside-print-area > main .left > p {
  text-align: center;
  margin-top: 5px;
}
.outside-print-area > main .right {
  font-size: 18px;
}
.outside-print-area > main .right h2 {
  margin-bottom: 8px;
}
.outside-print-area > main .right .f {
  font-size: 14px;
  margin-top: 8px;
}
.outside-print-area > footer > div {
  line-height: 22px;
  font-size: 18px;
  padding: 6px 0;
  letter-spacing: 0.5px;
}
.outside-print-area > footer > div h2 {
  display: inline-block;
}
.outside-print-area > footer > div span {
  font-size: 17px;
}
.outside-print-area h2 {
  font-size: 18px;
}

.outside-material-print-area {
  margin: 0 auto;
  display: flex;
  color: #333;
  width: 100%;
}
.outside-material-print-area .left {
  text-align: center;
  padding: 10px 0;
}
.outside-material-print-area .left .img-box {
  background-color: #e5e5e5;
  width: 100px;
  height: 100px;
}
.outside-material-print-area .left .img-box img {
  width: 100%;
  height: 100%;
}
.outside-material-print-area .left p {
  margin-top: 6px;
}
.outside-material-print-area .right {
  padding-top: 10px;
  padding-left: 15px;
}
.outside-material-print-area .right h2 {
  font-size: 14px;
}
.outside-material-print-area .right h2:first-of-type {
  font-size: 18px;
  padding-bottom: 20px;
}

.digital-list-print-list .digital-list-print-item {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  font-size: 10pt;
  box-sizing: border-box;
  padding: 2vw;
  page-break-before: always;
  page-break-inside: avoid;
}
.digital-list-print-list .digital-list-print-item table {
  font-size: 10pt;
}
.digital-list-print-list .digital-list-print-item > .header {
  display: flex;
  justify-content: space-between;
}
.digital-list-print-list .digital-list-print-item > .header > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.digital-list-print-list .digital-list-print-item > .header > div .SemiFinished {
  height: 1.2em;
  font-size: 1.55em;
  margin-top: -0.2em;
}
.digital-list-print-list .digital-list-print-item > .header > div .title {
  font-size: 1.42em;
  flex: 1;
  padding-left: 0;
  padding-top: 0.4em;
}
.digital-list-print-list .digital-list-print-item > .header > div .title .station {
  display: inline-block;
  min-width: 10.5em;
  text-align: left;
  font-size: 0.8em;
  padding-right: 0.8em;
}
.digital-list-print-list .digital-list-print-item > .header > div.left {
  padding-bottom: 0.5em;
  font-size: 1.3em;
}
.digital-list-print-list .digital-list-print-item > .header > div.left > * {
  flex: none;
}
.digital-list-print-list .digital-list-print-item > .header > div.left > *.title {
  flex: 1;
}
.digital-list-print-list .digital-list-print-item > .header > div.code {
  align-items: center;
  flex: none;
}
.digital-list-print-list .digital-list-print-item > .time {
  font-size: 0.95em;
  padding: 0.5em 0;
}
.digital-list-print-list .digital-list-print-item > .time span + span {
  margin-left: 2em;
}
.digital-list-print-list .digital-list-print-item > .order-info .top {
  height: 5em;
}
.digital-list-print-list .digital-list-print-item > .order-info .bottom {
  height: 5.5em;
}
.digital-list-print-list .digital-list-print-item > .order-info .bottom .content {
  border: 1px solid;
  border-top: none;
  line-height: 1.5em;
  padding: 0.65em 0.5em;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.digital-list-print-list .digital-list-print-item > .file-info {
  margin-top: 0.8em;
}
.digital-list-print-list .digital-list-print-item > .file-info .top {
  height: 5em;
}
.digital-list-print-list .digital-list-print-item > .file-info .bottom {
  height: 4.3em;
  border: 1px solid;
  border-top: none;
  line-height: 1.4em;
  padding: 0.7em 0.5em;
  box-sizing: border-box;
}
.digital-list-print-list .digital-list-print-item > .file-info .bottom div {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.digital-list-print-list .digital-list-print-item .material-info {
  margin-top: 0.8em;
}
.digital-list-print-list .digital-list-print-item .material-info table td {
  height: 4em;
}
.digital-list-print-list .digital-list-print-item .material-info table td div {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  padding: 0.2em 0;
  box-sizing: border-box;
}
.digital-list-print-list .digital-list-print-item > * {
  flex: none;
}
.digital-list-print-list .digital-list-print-item > .working-table {
  margin-top: 0.8em;
  flex: 1 0 auto;
}
.digital-list-print-list .digital-list-print-item > .working-table td {
  white-space: wrap;
}
.digital-list-print-list .digital-list-print-item .c {
  font-size: 15pt;
  margin-top: 1mm;
}
.digital-list-print-list .digital-list-print-item > .footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1.5em;
}
.digital-list-print-list .digital-list-print-item > .footer .print {
  font-size: 0.95em;
  padding-bottom: 0;
}
.digital-list-print-list .digital-list-print-item > .footer .print .bar-code {
  font-size: 1.1em;
  margin-bottom: 0.4em;
  font-weight: 700;
  padding-left: 0.5em;
}
.digital-list-print-list .digital-list-print-item > .footer .print .bar-code img {
  width: 12em !important;
  height: 3em !important;
  display: block;
  margin-bottom: 0.4em;
}
.digital-list-print-list .digital-list-print-item > .footer .print .bar-code span {
  display: block;
  width: 12em;
  text-align: center;
}
.digital-list-print-list .digital-list-print-item > .footer .print span + span {
  margin-left: 1.2em;
}
.digital-list-print-list .digital-list-print-item > .footer .code {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digital-list-print-list .digital-list-print-item div.row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4em 1fr;
}
.digital-list-print-list .digital-list-print-item div.row .title {
  border: 1px solid;
  border-right: none;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  height: 100%;
  box-sizing: border-box;
}
.digital-list-print-list .digital-list-print-item div.row .main {
  overflow: hidden;
}
.digital-list-print-list .digital-list-print-item div.row.bottom .title {
  border-top: none;
}
.digital-list-print-list .digital-list-print-item img {
  width: 25mm;
  height: 25mm;
}
.digital-list-print-list .digital-list-print-item .code {
  font-size: 1.4em;
}
.digital-list-print-list .digital-list-print-item table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  height: 5em;
}
.digital-list-print-list .digital-list-print-item table th, .digital-list-print-list .digital-list-print-item table td {
  font-weight: 400;
  text-align: center;
  border: 1px solid;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 2.45em;
  font-size: 1em;
}
.digital-list-print-list .digital-list-print-item table td {
  padding: 0 0.15em;
  height: 2.5em;
}
.digital-list-print-list .digital-list-print-item table tr.gray td {
  border-color: #444;
  color: #777;
  border-style: dashed;
}

/*# sourceMappingURL=print.css.map */
