@font-face {
  font-family: "iconfont"; /* Project id 5136890 */
  src: url('iconfont.woff2?t=1777272892689') format('woff2'),
       url('iconfont.woff?t=1777272892689') format('woff'),
       url('iconfont.ttf?t=1777272892689') format('truetype'),
       url('iconfont.svg?t=1777272892689#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanbudachengyibao:before {
  content: "\e6d8";
}

.icon-ankuanshudabao:before {
  content: "\e6d9";
}

.icon-zuijinwenjian1:before {
  content: "\e603";
}

.icon-chakanbaoguoliebiao:before {
  content: "\e6d2";
}

.icon-sousuofangdajing:before {
  content: "\e6d3";
}

.icon-chexiaodanchuang:before {
  content: "\e6d4";
}

.icon-chexiaodabao:before {
  content: "\e6d5";
}

.icon-dayinji:before {
  content: "\e6d6";
}

.icon-chexiao:before {
  content: "\e6d7";
}

.icon-chenggong:before {
  content: "\e6cb";
}

.icon-dayinshezhi:before {
  content: "\e6cc";
}

.icon-xiazaidabaoxiangqing:before {
  content: "\e6cd";
}

.icon-baocuo:before {
  content: "\e6ce";
}

.icon-zhongda:before {
  content: "\e6cf";
}

.icon-saomiao:before {
  content: "\e6d0";
}

.icon-tuichudenglu:before {
  content: "\e6d1";
}

