@import './var.scss';

@each $key, $value in $theme-colors {
  .#{$key} {
    color: $value;
  }
}

@for $num from 0 through 100 {
  .ml-#{$num} {
    margin-left: #{$num}px
  };
  .mr-#{$num} {
    margin-right: #{$num}px
  };
  .mt-#{$num} {
    margin-top: #{$num}px
  };
  .mb-#{$num} {
    margin-bottom: #{$num}px
  };
  .pl-#{$num} {
    padding-left: #{$num}px
  };
  .pr-#{$num} {
    padding-right: #{$num}px
  };
  .pt-#{$num} {
    padding-top: #{$num}px
  };
  .pb-#{$num} {
    padding-bottom: #{$num}px
  };
  .ft-#{$num} {
    font-size: #{$num}px;
  }
}

// @each $num in 5, 8, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
//   .ml-#{$num} {
//     margin-left: #{$num}px
//   };
//   .mr-#{$num} {
//     margin-right: #{$num}px
//   };
//   .mt-#{$num} {
//     margin-top: #{$num}px
//   };
//   .mb-#{$num} {
//     margin-bottom: #{$num}px
//   };
//   .pl-#{$num} {
//     padding-left: #{$num}px
//   };
//   .pr-#{$num} {
//     padding-right: #{$num}px
//   };
//   .pt-#{$num} {
//     padding-top: #{$num}px
//   };
//   .pb-#{$num} {
//     padding-bottom: #{$num}px
//   };
// }

// @each $var in 12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40 {
//   .is-font-#{$var} {
//     font-size: #{$var}px;
//   }
// }

// @for $i from 12 through 40 {
//   .ft-#{$i} {
//     font-size: #{$i}px;
//   }
// }

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

.shadows {
  @include box-shadow(0px 4px 5px #666, 2px 6px 10px #999);
}

// @each $animal in puma, sea-slug, egret, salamander {
//   .#{$animal}-icon {
//     background-image: url('/images/#{$animal}.png');
//   }
// }

.bold {
  font-weight: 700;
}

.hide,
.none {
  display: none
}


.el-button{
  .iconfont{
    font-size: 12px;
    // background-color: red;
    margin-right: 5px;
  }
}

// 用于处理表单的必填字段标签的必填标识
.required::before{
  content: '*';
  color: #f56c6c;
  margin-right: 4px;
}
.form-item-required{
  >.el-form-item__label::before{
    content: '*';
    color: #f56c6c;
    margin-right: 4px;
  }
}
// 重写多选框的样式 以保持文字显示完整 （行高过小时可能会有这个问题）
.el-checkbox-group{
  .el-tooltip__trigger{
    line-height: 20px;
    padding-top: 2px;
  }
}
.is-goback-button{
  width: 100px;
}

.mp-common-title-wrap {
  min-width: 4em;
  line-height: 14px;
  font-size: 14px;
  color: $--color-primary;
  display: inline-block;
  font-weight: 700;
  &::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 14px;
    margin-right: 10px;
    vertical-align: -15%;
    background: linear-gradient(233deg,  $--color-primary-light 0%, $--color-primary 100%);
  }
  &.black {
    color: #444;
  }
  &.f-15 {
    font-size: 15px;
    &::before {
      height: 16px;
    }
  }
 }