@import './var.scss';

.el-table{
  // text-align: center;
  border: none;

  .el-table__header-wrapper {
    tr{
      th{
        padding: 6px 0;
        &.el-table__cell{
          background-color: #f5f5f5;
          color: #444;
          text-align: center;
          border-right: none;
          border-left: none !important;
          .cell {
            padding: 0 2px;
          }
        }
        &.el-table__cell::after{
          content: '';
          width: 1px;
          height: 12px;
          display: inline-block;
          position: absolute;
          right: 0;
          top: 11px;
          background-color: #d0d0d0;
          pointer-events: none;
        }
      }
    }
  }
  .el-table__body-wrapper{
    .el-table__body{
      tbody{
        .el-table__row{
          .el-table__cell{
            text-align: center;
            border-right: none;
            border-left: none;
            border: none;
            height: 42px;
            padding: 5px 0;
            color: #444;
            font-size: 12px;
            .el-button--info {
              .iconfont {
                font-size: 14px;
                margin-right: 6px;
                &.icon-bianji {
                  color: $--color-primary;
                }
                &.icon-delete {
                  color: $--color-pink;
                }
              }
              font-size: 12px;
              &:hover {
                .iconfont {
                  &.icon-bianji {
                    color: lighten($color: $--color-primary, $amount: 15);
                  }
                  &.icon-delete {
                    color: lighten($color: $--color-pink, $amount: 15);
                  }
                }
              }
              &:active {
                .iconfont {
                  &.icon-bianji {
                    color: darken($color: $--color-primary, $amount: 15);
                  }
                  &.icon-delete {
                    color: darken($color: $--color-pink, $amount: 15);
                  }
                }
              }
            }

            .cell {
              padding: 0 2px;
            }
          }
        }
      }
    }
  }
  &.row-ft-12 {
    .el-table__body-wrapper .el-table__body tbody .el-table__row .el-table__cell {
      font-size: 12px;
    }
  }
}

.el-table .el-popper {
  max-width: 400px;
}