// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
// $colors: (
// 'primary': (
// 'base': red,
// ),
// "success": (
// "base": #67C23A,
// ),
// ),
// );
// @use "element-plus/theme-chalk/src/index.scss" as *;

:root {
/* 改变主题色变量 */
  --el-color-primary: #26bcf9;
  --el-color-warning: #F4A307;
  --el-color-danger: #ff3769;
  --el-color-info: #989898;
  --el-fill-color-lighter: #f8f8f8;
  --el-color-danger-light-3: #fc5881;
  --el-color-danger-dark-2: #fa285c;
  --el-fill-color-light: #F9F9F9;
  .el-table {
    --el-table-row-hover-bg-color: #d8effc;
  }
}
