@import './reset.scss';

// 大版打印工单
.plate-print-content {
  display: flex;
  width: 415px;
  margin: 0 auto;
  .img-box {
    width: 130px;
    height: 130px;
    margin-right: 20px;
    margin-top: 5px;
    flex: none;
    background-color: #e5e5e5;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .right {
    width: 240px;
    color: #444;
    padding-top: 2px;
    font-size: 18px;
    h2 {
      font-size: 18px;
      padding-bottom: 6px;
    }
    .remark {
      min-height: 50px;
      line-height: 24px;
    }
    h4 {
      margin-top: 4px;
    }
    .time {
      font-size: 14px;
    }
  }

  @media print {
    width: 100%;
  }
}

// 待外协打印工单
.outside-print-area {
  margin: 0 auto;
  color: #444;
  > main {
    display: flex;
    .left {
      margin-right: 30px;
      .img-box {
        background-color: #e5e5e5;
        width: 100px;
        height: 100px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      > p {
        text-align: center;
        margin-top: 5px;
      }
    }
    .right {
      font-size: 18px;
      h2 {
        margin-bottom: 8px;
      }
      .f {
        font-size: 14px;
        margin-top: 8px;
      }
    }
  }

  > footer {
    
    > div {
      line-height: 22px;
      font-size: 18px;
      padding: 6px 0;
      letter-spacing: 0.5px;
      h2 {
        display: inline-block;
      }
      span {
        font-size: 17px;
      }
    }
  }

  h2 {
    font-size: 18px;
  }
}