@import './reset.scss';

  // 待外协打印工单
.outside-print-area-wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .outside-print-area {
    color: #222;
    width: 210mm;
    padding: 5px 15px;
    box-sizing: border-box;
    height: 86mm;
    transform: scale(0.95);
    > header {
      display: flex;
      font-size: 3.6mm;
      position: relative;
      .left {
        flex: 1;
        overflow: hidden;
        line-height: 2.3em;
        margin-top: -0.3em;
        padding-bottom: 2.5em;
        .title {
          text-align: center;
          font-size: 1.55em;
          line-height: 1.45em;
          padding-left: 4em;
          margin-bottom: 0.1em;
          margin-top: 0.4em;
        }
        .line {
          font-size: 1.15em;
          line-height: 1.3em;
          margin-top: 0.2em;
        }
        .info {
          white-space: nowrap;
          display: flex;
          align-items: center;
          position: absolute;
          left: 0;
          bottom: 0;

          > span {
            flex: none;

            &:nth-of-type(2) {
              flex: 0 1 auto;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
      .bar {
        width: 160px;
        text-align: center;
        img {
          width: 100%;
          height: 50px;
          margin-bottom: 0.5mm;
        }
        span {
          font-size: 1.2em;
        }
      }
    }
    > main {
      margin-top: 0.01em;
      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        th, td {
          border: 1px solid #222;
          text-align: center;
          box-sizing: border-box;
          font-weight: 400;
          height: 2.5em;
          overflow: hidden;
          padding: 0 0.5em;
          div {
            line-clamp: 2;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 100%;
            display: -webkit-box;
            -webkit-box-orient: vertical;//子元素被垂直排列
            white-space: normal;
            padding: 0.2em 0;
            box-sizing: border-box;
          }
        }
        td {
          font-size: 0.88em;
          height: 3.9em;
          max-height: 3em;
        }
        &:not(:first-of-type) {
          th {
            border-top: none;
          }
          td {
            height: 5.3em;
            div {
              -webkit-line-clamp: 3;
              line-clamp: 3;
            }
          }
        }
      }
    }

    > footer {
      margin-top: 0.7em;
      font-size: 0.88em;
      position: relative;
      span {
        margin-right: 1.5em;
      }


      div {
        position: absolute;
        right: 13em;
        font-size: 1.1em;
        top: -0.1em;
      }
    }
  }
}

// 外来物料编码打印
.outside-material-print-area {
  margin: 0 auto;
  display: flex;
  color: #333;
  width: 100%;
  font-size: 11pt;
  page-break-before: always;

  @media print {
    width: 100vw;
    min-height: 100vh;
  }

  .left {
    text-align: center;
    padding: 10px 0;
    width: 25%;
    min-width: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: none;

    .img-box {
      background-color: #e5e5e5;
      width: 125px;
      height: 125px;
      margin-top: 40px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    p {
      margin-top: 6px;
      text-align: center;
      min-width: 125px;
      font-size: 0.95em;
    }
  }

  .right {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #000;

    h2 {
      display: flex;
      font-size: inherit;
      margin-bottom: 0.2em;

      .label {
        width: 6em;
        flex: none;
        text-align: right;
      }

      > div {
        display: flex;
        flex-direction: column;
      }
    }

    .bottom {
      padding-top: 0.5em;
      font-size: 1.05em;

      h2 {
        margin-bottom: 0.7em;
        .label {
          width: 6.5em;
        }
      }
    }
  }
}

// 数码工单打印单个项目
.digital-list-print-list {
  .digital-list-print-item {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    font-size: 10pt;
    box-sizing: border-box;
    padding: 2vw;
    page-break-before: always;
    page-break-inside: avoid;

    table {
      font-size: 10pt;
    }

    > .header {
      display: flex;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;

        // .b {
        //   font-weight: 700;
        // }

        .SemiFinished {
          height: 1.2em;
          font-size: 2.6em;
          margin-top: -0.2em;
        }

        .title {
          font-size: 1.42em;
          flex: 1;
          padding-left: 0;
          padding-top: 0.1em;

          .station {
            display: inline-block;
            min-width: 10.5em;
            text-align: left;
            font-size: 0.8em;
            padding-right: 0.8em;
          }
        }

        &.left {
          padding-bottom: 0.5em;
          font-size: 1.3em;
          > * {
            flex: none;

            &.title {
              flex: 1;
            }
          }
        }

        &.code {
          align-items: center;
          flex: none;
        }
      }
    }

    > .time {
      font-size: 0.95em;
      padding: 0.5em 0;
      span + span {
        margin-left: 2em;
      }
    }

    > .order-info {
      .top {
        height: 5em;
      }

      .bottom {
        height: 5.5em;

        .content {
          border: 1px solid;
          border-top: none;
          line-height: 1.5em;
          padding: 0.65em 0.5em;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          box-sizing: border-box;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 100%;
          display: -webkit-box;
          -webkit-box-orient: vertical;//子元素被垂直排列
        }
      }
    }

    > .file-info {
      margin-top: 0.8em;
      .top {
        height: 5em;
      }

      .bottom {
        height: 4.3em;
        border: 1px solid;
        border-top: none;
        line-height: 1.4em;
        padding: 0.7em 0.5em;
        box-sizing: border-box;
        div {
          -webkit-line-clamp: 2;
          line-clamp: 2;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 100%;
          display: -webkit-box;
          -webkit-box-orient: vertical;//子元素被垂直排列
        }
      }
    }


    .material-info {
      margin-top: 0.8em;
      table {
        td {
          height: 4em;
          div {
            -webkit-line-clamp: 2;
            line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 100%;
            display: -webkit-box;
            -webkit-box-orient: vertical;//子元素被垂直排列
            white-space: normal;
            padding: 0.2em 0;
            box-sizing: border-box;
          }
        }
      }
    }

    > * {
      flex: none;
    }

    > .working-table {
      margin-top: 0.8em;
      flex: 1 0 auto;
      td {
        white-space: wrap;
      }
    }

    .c {
      font-size: 15pt;
      margin-top: 1mm;
    }

    > .footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 1.5em;
      .print {
        font-size: 0.95em;
        padding-bottom: 0;
        .bar-code {
          font-size: 1.1em;
          margin-bottom: 0.4em;
          font-weight: 700;
          padding-left: 0.5em;
          img {
            width: 12em !important;
            height: 3em !important;
            display: block;
            margin-bottom: 0.4em;
          }
          span {
            display: block;
            width: 12em;
            text-align: center;
          }
        }
        span + span {
          margin-left: 1.2em;
        }
      }
      .code {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    div.row  {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 4em 1fr;

      .title {
        border: 1px solid;
        border-right: none;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0 0.5em;
        height: 100%;
        box-sizing: border-box;
      }

      .main {
        overflow: hidden;
      }

      &.bottom {
        .title {
          border-top: none;
        }
      }
    }

    img {
      width: 25mm;
      height: 25mm;
    }
  
    .code {
      font-size: 1.4em;
    }

    table { 
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      box-sizing: border-box;
      table-layout: fixed;
      height: 5em;
      th, td {
        font-weight: 400;
        text-align: center;
        border: 1px solid;

        box-sizing: border-box;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 2.45em;
        font-size: 1em;
      }
      td {
        padding: 0 0.15em;
        height: 2.5em;
      }

      tr.gray td {
        border-color: #444;
        color: #777;
        border-style: dashed;
      }
    }

  }
  
}

// 大版工单打印
.plate-work-order-print-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  font-size: 9.2pt;
  box-sizing: border-box;
  padding: 2vw;
  page-break-before: always;
  page-break-inside: avoid;

  > header {
    flex: none;
    text-align: center;
    position: relative;
    height: 36mm;

    h2 {
      font-size: 2.2em;
      font-weight: 400;
      padding-top: 8mm;
    }

     .code {
      padding-right: 2.8em;

      .v-time {
        writing-mode: sideways-lr;
        font-size: 1.5em;
        position: absolute;
        top: 0;
        right: -0.1em;
      }
    }
  }

  > main {
    flex: 1;
    > .line {
      font-size: 1.4em;
      letter-spacing: 0.1pt;

      display: flex;
      align-items: center;

      > span {
        flex: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.n {
          flex: 0 1 auto;
        }
      }
    }

    > .title {
      font-size: 1.1em;
      border: 1px solid;
      border-bottom: none;
      line-height: 2em;
      padding: 0 1em;
    }

    > .item {
      width: 100%;
      display: grid;
      grid-template-columns: 10% auto;
      grid-template-rows: 1fr;

      > .title {
        font-size: 1.1em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        border: 1px solid;
        border-right: none;
        i {
          max-width: 2em;
          white-space: wrap;
        }
      }

      > table {
        flex: 1;
        overflow: hidden;

        .m-num {
          span {
            display: block;
          }
        }
      }
    }
  }

  > footer {
    flex: none;
    position: relative;
    height: 36mm;
    box-sizing: border-box;
    padding-top: 30mm;
    margin-top: 5mm;
    span {
      font-size: 1.2em;
      & + span {
        margin-left: 15px;
      }
    }
  }

  
  .code {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;

    img {
      width: 28mm;
      height: 28mm;
    }

    p {
      font-size: 1.6em;
      padding-top: 0.2em;
      letter-spacing: 2px;
    }
  }

  table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    tr {
      td, th {
        border: 1px solid;
        text-align: center;
        line-height: 1.35em;
        padding: 0.6em 0.1em;
        font-size: 1.1em;
        font-weight: 400;

      }
    }
  }
}


.tag-reprint-print-wrap-list {
  li.wrap {
    width: 100vw;
    height: 100vh;
    font-size: 8pt;
    overflow: hidden;

    > section {
      width: 70mm;
      height: 50mm;
      overflow: hidden;
      padding: 1em 0.75em 1em 1em;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    
      > header {
        flex: none;
        font-size: 0.9em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.3em;
      }

      > main {
        flex: 1;
        display: flex;
        overflow: hidden;

        .left {
          flex: none;
          width: 40mm;
          height: 100%;

          * {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 1em;
            line-height: 1.1em;
            height: 1em;
            margin-bottom: 0.4em;
          }

          h2 {
            font-weight: 400;
            font-size: 2em;
            margin-bottom: 0.2em;
          }

          .s {
            font-size: 0.7em;
            color: #444;
            margin-bottom: 0.2em;
          }

          .r2 {
            height: 2.2em;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            display: -webkit-box;
            white-space: normal;
            margin-bottom: 0.2em;
            -webkit-box-orient: vertical;//子元素被垂直排列
            }
        }

        .right {
          flex: 1;
          overflow: hidden;
          height: 100%;
          padding-left: 1.2em;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
          padding-top: 0.4em;

          * {
            text-align: center;
            flex: 1;
            display: flex;
            align-items: center;
          }

          img {
            width: 20mm;
            height: 20mm;
          }

          p {
            font-size: 1.4em;
            padding-top: 0.3em;
          }

          h3 {
            font-size: 2em;
            font-weight: 400;
          }
        }
      }
    }
  }
}