@import './reset.scss';

// 大版打印工单
.plate-print-content {
  display: flex;
  width: 415px;
  margin: 0 auto;
  .img-box {
    width: 130px;
    height: 130px;
    margin-right: 20px;
    margin-top: 5px;
    flex: none;
    background-color: #e5e5e5;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .right {
    width: 240px;
    color: #444;
    padding-top: 2px;
    font-size: 18px;
    h2 {
      font-size: 18px;
      padding-bottom: 6px;
    }
    .remark {
      min-height: 50px;
      line-height: 24px;
    }
    h4 {
      margin-top: 4px;
    }
    .time {
      font-size: 14px;
    }
  }

  @media print {
    width: 100%;
  }
}

// 待外协打印工单
.outside-print-area {
  margin: 0 auto;
  color: #222;
  width: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
  height: 86mm;
  margin-top: 1em;
  @media print {
    width: 100vw;
    margin-top: 0;
  }
  > header {
    display: flex;
    font-size: 3.6mm;
    .left {
      flex: 1;
      overflow: hidden;
      line-height: 2.3em;
      margin-top: -0.3em;
      .title {
        text-align: center;
        font-size: 1.55em;
        line-height: 1.45em;
        padding-left: 4em;
        margin-bottom: 0.1em;
      }
      .line {
        font-size: 1.15em;
        line-height: 1.3em;
      }
    }
    .bar {
      width: 160px;
      text-align: center;
      img {
        width: 100%;
        height: 50px;
        margin-bottom: 0.5mm;
      }
      span {
        font-size: 1.2em;
      }
    }
  }
  > main {
    margin-top: 0.2em;
    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      th, td {
        border: 1px solid #222;
        text-align: center;
        box-sizing: border-box;
        font-weight: 400;
        height: 2.5em;
        overflow: hidden;
        padding: 0 0.5em;
        div {
          line-clamp: 2;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          overflow: hidden;
          max-height: 100%;
          display: -webkit-box;
          -webkit-box-orient: vertical;//子元素被垂直排列
          white-space: normal;
          padding: 0.2em 0;
          box-sizing: border-box;
        }
      }
      td {
        font-size: 0.88em;
        height: 3.9em;
        max-height: 3em;
      }
      &:not(:first-of-type) {
        th {
          border-top: none;
        }
        td {
          height: 5.3em;
          div {
            -webkit-line-clamp: 3;
            line-clamp: 3;
          }
        }
      }
    }
  }

  > footer {
    margin-top: 0.45em;
    font-size: 0.88em;
    position: relative;
    span {
      margin-right: 1.5em;
    }


    div {
      position: absolute;
      right: 13em;
      font-size: 1.1em;
      top: 0.4em;
    }
  }
}

// 外来物料编码打印
.outside-material-print-area {
  margin: 0 auto;
  display: flex;
  color: #333;
  width: 100%;

  .left {
    text-align: center;
    padding: 10px 0;

    .img-box {
      background-color: #e5e5e5;
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    p {
      margin-top: 6px;
    }
  }

  .right {
    padding-top: 10px;
    padding-left: 15px;
    h2 {
      font-size: 14px;

      &:first-of-type {
        font-size: 18px;
        padding-bottom: 20px;
      }
    }
  }
}

// 数码工单打印单个项目
.digital-list-print-list {
  .digital-list-print-item {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    font-size: 10pt;
    box-sizing: border-box;
    padding: 2vw;
    page-break-before: always;
    page-break-inside: avoid;

    table {
      font-size: 10pt;
    }

    > .header {
      display: flex;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;

        // .b {
        //   font-weight: 700;
        // }

        .SemiFinished {
          height: 1.2em;
          font-size: 1.55em;
          margin-top: -0.2em;
        }

        .title {
          font-size: 1.42em;
          flex: 1;
          padding-left: 0;
          padding-top: 0.4em;

          .station {
            display: inline-block;
            min-width: 10.5em;
            text-align: left;
            font-size: 0.8em;
            padding-right: 0.8em;
          }
        }

        &.left {
          padding-bottom: 0.5em;
          font-size: 1.3em;
          > * {
            flex: none;

            &.title {
              flex: 1;
            }
          }
        }

        &.code {
          align-items: center;
          flex: none;
        }
      }
    }

    > .time {
      font-size: 0.95em;
      padding: 0.5em 0;
      span + span {
        margin-left: 2em;
      }
    }

    > .order-info {
      .top {
        height: 5em;
      }

      .bottom {
        height: 5.5em;

        .content {
          border: 1px solid;
          border-top: none;
          line-height: 1.5em;
          padding: 0.65em 0.5em;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          box-sizing: border-box;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 100%;
          display: -webkit-box;
          -webkit-box-orient: vertical;//子元素被垂直排列
        }
      }
    }

    > .file-info {
      margin-top: 0.8em;
      .top {
        height: 5em;
      }

      .bottom {
        height: 4.3em;
        border: 1px solid;
        border-top: none;
        line-height: 1.4em;
        padding: 0.7em 0.5em;
        box-sizing: border-box;
        div {
          -webkit-line-clamp: 2;
          line-clamp: 2;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 100%;
          display: -webkit-box;
          -webkit-box-orient: vertical;//子元素被垂直排列
        }
      }
    }


    .material-info {
      margin-top: 0.8em;
      table {
        td {
          height: 4em;
          div {
            -webkit-line-clamp: 2;
            line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 100%;
            display: -webkit-box;
            -webkit-box-orient: vertical;//子元素被垂直排列
            white-space: normal;
            padding: 0.2em 0;
            box-sizing: border-box;
          }
        }
      }
    }

    > * {
      flex: none;
    }

    > .working-table {
      margin-top: 0.8em;
      flex: 1 0 auto;
    }

    .c {
      font-size: 15pt;
      margin-top: 1mm;
    }

    > .footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 1.5em;
      .print {
        font-size: 0.95em;
        padding-bottom: 0;
        .bar-code {
          font-size: 1.1em;
          margin-bottom: 0.4em;
          font-weight: 700;
          padding-left: 0.5em;
          img {
            width: 12em !important;
            height: 3em !important;
            display: block;
            margin-bottom: 0.4em;
          }
          span {
            display: block;
            width: 12em;
            text-align: center;
          }
        }
        span + span {
          margin-left: 1.2em;
        }
      }
      .code {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    div.row  {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 4em 1fr;

      .title {
        border: 1px solid;
        border-right: none;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0 0.5em;
        height: 100%;
        box-sizing: border-box;
      }

      .main {
        overflow: hidden;
      }

      &.bottom {
        .title {
          border-top: none;
        }
      }
    }

    img {
      width: 25mm;
      height: 25mm;
    }
  
    .code {
      font-size: 1.4em;
    }

    table { 
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      box-sizing: border-box;
      table-layout: fixed;
      height: 5em;
      th, td {
        font-weight: 400;
        text-align: center;
        border: 1px solid;

        box-sizing: border-box;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 2.45em;
        font-size: 1em;
      }
      td {
        padding: 0 0.15em;
        height: 2.5em;
      }

      tr.gray td {
        border-color: #444;
        color: #777;
        border-style: dashed;
      }
    }

  }
  
}
