@import "@/assets/css/var.scss";

.el-button {
  &.blue {
    border-color: $--color-primary;
    color: $--color-primary;
    &:hover {
      border-color: $--color-primary;
      color: $--color-primary;
    }
    &:active {
      border-color: darken($color: $--color-primary, $amount: 12);
      color:darken($color: $--color-primary, $amount: 12);
    }
  }
}
.el-button {
  &.pink {
    border-color: $--color-pink;
    color: $--color-pink;
    &:hover {
      border-color: $--color-pink;
      color: $--color-pink;
      background-color: lighten($color: $--color-pink, $amount: 37);
    }
    &:active {
      border-color: darken($color: $--color-pink, $amount: 12);
      color:darken($color: $--color-pink, $amount: 12);
      background-color: lighten($color: $--color-pink, $amount: 37);
    }
  }
}

.el-button--primary {
  &:not(.is-disabled):not(.is-link) {
    &.el-button:focus, &.el-button:hover{
      background-color: $-el-button--primary-hover-bg;
      border-color: $-el-button--primary-hover-bg;
    }
    &.el-button:active{
      background-color: darken($color: $--color-primary, $amount: 12);
      border-color: darken($color: $--color-primary, $amount: 12);
    }
  }
  &.gradient, &.linear {
    background: linear-gradient(266deg, #36E0F9 0%, $--color-primary 100%);
    border: none !important;
    border-radius: 2px;
    color: #fff;
    &:hover, &:focus {
      background: linear-gradient(266deg, rgba(54, 224, 249, 0.8) 0%, rgba(38, 188, 249, 0.8) 100%);
      border: 1px solid $--color-primary;
      color: #fff;
    }
    &:active {
      opacity: 1;
      background: linear-gradient(266deg, #26BCF9 0%, #428dfa 100%);
      border: 1px solid #428dfa;
      color: #fff;
    }
    &.is-disabled {
      background: #ccc !important;
    }
  }
}


.el-radio {
  .el-radio__input.is-checked {
    .el-radio__inner {
      background-color: #fff;
      &::after {
        background-color: $--color-primary;
        width: 6px;
        height: 6px;
      }
    } 
  }
  .el-radio__label {
    color: $--color-text-primary-light;
  }
}
.el-radio{
  // 单选按钮的字体大小
  --el-radio-font-size:12px;
}
.el-checkbox{
  // 多选按钮的字体大小
  --el-checkbox-font-size:12px;
}
.el-form-item__content{
  font-size: 12px;
}
.el-input{
  font-size: 12px;
}

.mp-general-loading-box .el-loading-spinner .circular {
  color: #26BCF9;
  width: 30px !important;
  height: 30px !important;
}


.el-popper.is-customized {
  padding: 6px 12px;
  background: linear-gradient(90deg, #428dfa, #26bcf9);
  color: #fff;
  letter-spacing: 1px;
}

.el-popper.is-customized .el-popper__arrow::before {
  background: linear-gradient(45deg, #428dfa, #26bcf9);
  right: 0;
}

@mixin mp-input-line {
  .el-input__wrapper {
    border-radius: 0;
    padding-left: 5px;
    padding-right: 16px;
    box-shadow: none !important;
    box-sizing: border-box;
    border-bottom: 1px solid #DCDFE6;
    transition: border-color 0.2s ease-in-out;
    &.is-focus {
      border-color: #26BCF9;
    }
  }
  &.is-focus {
    .el-input__wrapper {
      border-color: #26BCF9;
    }
  }
}
.mp-line-input.el-input {
  @include mp-input-line;
}
.mp-select.el-select {
  line-height: 25px;
  .el-input {
    @include mp-input-line;
    height: 25px;
    line-height: 25px;
    width: 110px;
    font-size: 13px;
    .el-input__wrapper {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 6px;
        right: 4px;
        background: none;
        border: 5px solid #eee;
        width: 0;
        height: 0;
        border-top-width: 6px;
        border-bottom-width: 0;
        border-color: transparent;
        border-top-color: rgba(0,0,0,.3);
        border-radius: 2px;
      }
      input {
        line-height: 25px;
        height: 25px;
        position: relative;
        top: -1px;
        color: #444;
      }
      .el-input__suffix {
        display: none;
      }
    }
  }
  & + .mp-select.el-select {
    margin-left: 10px;
  }
}

.el-radio .el-radio__input.is-checked .el-radio__inner::after {
  width: 8px;
  height: 8px;
}

.el-table__empty-text {
  font-size: 13px;
}